In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys
from tqdm import tqdm
from glob import glob
import os, sys
import pandas as pd

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_parquet('~/ptls-experiments/scenario_alpha_battle/data/train_transactions_contest.parquet')

In [4]:
df.head()

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
0,0,0.465425,1,4,98,4,2,3,7,3,2,1,37,2,4,19,351,34,-1,1
1,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,20,351,34,0,2
2,0,0.521152,1,2,98,3,1,3,7,3,2,1,37,2,4,20,351,34,0,3
3,0,0.356078,1,1,5,2,1,3,7,3,10,1,49,7,2,0,348,34,52,4
4,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,16,337,53,280,5

In [5]:
%%time
df = df.groupby('app_id').agg(lambda x: list(x)).reset_index()
df.head()

CPU times: user 13min 16s, sys: 1min 50s, total: 15min 6s
Wall time: 15min 3s

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
0,0,"[0.4654254330729043, 0.0, 0.5211518246354306, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, ...","[98, 98, 98, 5, 98, 98, 98, 98, 5, 5, 98, 5, 9...","[4, 7, 3, 2, 7, 3, 3, 3, 2, 2, 3, 2, 3, 7, 3, ...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 7, 7, 7, 7, 7, 6, 6, 2, 2, 6, 2, 6, 1, 6, ...","[3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 2, 2, 10, 2, 2, 2, 2, 10, 10, 2, 10, 2, 2,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[37, 49, 37, 49, 49, 37, 2, 2, 49, 49, 2, 49, ...","[2, 2, 2, 7, 2, 2, 2, 2, 7, 7, 2, 7, 2, 2, 2, ...","[4, 4, 4, 2, 4, 4, 2, 2, 7, 7, 2, 5, 3, 6, 5, ...","[19, 20, 20, 0, 16, 16, 18, 19, 13, 13, 15, 14...","[351, 351, 351, 348, 337, 337, 334, 327, 326, ...","[34, 34, 34, 34, 53, 53, 53, 52, 52, 52, 50, 3...","[-1, 0, 0, 52, 280, 0, 75, 169, 18, 0, 146, 71...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,1,"[0.3240743706369933, 0.42105610477663846, 0.48...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, ...","[54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 5...","[2, 2, 3, 3, 2, 2, 2, 3, 2, 3, 2, 2, 8, 2, 2, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 7, 7, 7, 2, 2, 2, 6, 2, 6, 2, 2, 2, 2, 2, ...","[3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[65, 1, 2, 2, 1, 3, 58, 2, 1, 2, 1, 1, 2, 25, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 24, 1, 1,...","[21, 21, 37, 37, 21, 21, 21, 21, 21, 21, 21, 2...","[6, 1, 2, 2, 1, 4, 14, 2, 1, 2, 1, 1, 2, 6, 5,...","[4, 3, 3, 7, 6, 5, 5, 2, 2, 7, 7, 6, 5, 4, 3, ...","[0, 0, 19, 21, 10, 20, 21, 17, 17, 15, 21, 16,...","[358, 357, 357, 354, 332, 331, 331, 327, 327, ...","[24, 24, 24, 24, 52, 52, 52, 52, 52, 52, 52, 5...","[-1, 24, 19, 74, 517, 34, 1, 92, 0, 22, 6, 19,...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,2,"[0.35252243820939444, 0.37467714070712754, 0.3...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, ...","[51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 5...","[2, 1, 2, 1, 1, 9, 1, 7, 9, 10, 1, 1, 1, 1, 1,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 3, 3, 3, 3, 1, 2, 1, 1, 1, 1, 1, 1, ...","[7, 7, 7, 7, 7, 7, 7, 1, 6, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 3, 3, 3, 3, 1, 1, 2, 1, 1, 1, 1, 1, ...","[3, 1, 7, 1, 28, 28, 1, 2, 28, 11, 7, 7, 1, 1,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[46, 43, 1, 46, 1, 37, 146, 146, 1, 1, 2, 2, 4...","[4, 1, 5, 1, 16, 16, 1, 2, 16, 8, 5, 5, 1, 1, ...","[4, 4, 3, 3, 3, 3, 2, 7, 5, 1, 1, 1, 5, 5, 5, ...","[0, 10, 0, 21, 23, 23, 0, 11, 20, 12, 12, 12, ...","[351, 351, 350, 350, 350, 350, 348, 312, 310, ...","[34, 34, 34, 34, 34, 34, 34, 39, 42, 42, 42, 4...","[-1, 10, 14, 21, 2, 0, 25, 875, 57, 64, 0, 0, ...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,3,"[0.4665649533502015, 0.31647184007426654, 0.23...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 1, ...","[52, 175, 175, 175, 175, 52, 52, 52, 175, 52, ...","[5, 1, 1, 1, 1, 5, 2, 2, 1, 8, 1, 1, 5, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[6, 1, 1, 1, 1, 6, 2, 2, 1, 2, 1, 1, 6, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[9, 1, 1, 4, 4, 9, 10, 17, 4, 2, 5, 8, 9, 1, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 5, 5, 5, 5, 1, 5, 5, 5, 5, 5, 5, 1, 5, 5, ...","[2, 1, 1, 3, 3, 2, 7, 15, 3, 2, 4, 1, 2, 1, 7,...","[6, 5, 6, 4, 4, 1, 2, 2, 7, 7, 6, 6, 6, 2, 4, ...","[8, 12, 12, 12, 17, 8, 12, 16, 10, 14, 8, 8, 9...","[325, 324, 318, 295, 295, 237, 236, 236, 235, ...","[50, 50, 39, 46, 46, 43, 43, 43, 43, 43, 8, 8,...","[-1, 28, 144, 552, 5, 1383, 28, 4, 18, 4, 18, ...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,4,"[0.0, 0.3488379638169017, 0.3796773516219741, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 2, 1, 1, 3, 1, 2, 3, 1, 2, 3, 3, 3, 2, 3, ...","[51, 51, 51, 51, 51, 51, 5, 51, 51, 5, 5, 51, ...","[7, 3, 1, 1, 5, 1, 7, 5, 1, 7, 5, 6, 5, 7, 5, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, ...","[7, 7, 7, 7, 7, 7, 7, 7, 7, 1, 6, 6, 6, 1, 6, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 2, 1, 1, 1, ...","[2, 2, 1, 1, 9, 9, 2, 9, 9, 2, 9, 9, 9, 2, 9, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[163, 37, 163, 163, 37, 1, 2, 37, 1, 2, 1, 1, ...","[2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[4, 4, 4, 4, 4, 4, 7, 6, 6, 6, 7, 7, 6, 3, 1, ...","[14, 14, 14, 19, 19, 19, 15, 18, 18, 13, 17, 1...","[351, 351, 351, 351, 351, 351, 340, 339, 339, ...","[34, 34, 34, 34, 34, 34, 1, 53, 53, 52, 50, 50...","[-1, 0, 0, 5, 1, 0, 260, 27, 0, 163, 315, 0, 1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [6]:
df.shape

(963811, 20)

In [7]:
import pandas as pd

In [8]:
!head -n 5 data/train_clipped.csv

,ids
0,69
1,89
2,126
3,148

In [9]:
df_train = pd.read_csv('data/train_clipped.csv').rename(columns={'ids': 'app_id'})[['app_id']]
df_train.head()

   app_id
0      69
1      89
2     126
3     148
4     154

In [10]:
df_train.shape

(234615, 1)

In [11]:
df_train_flag = pd.read_csv('data/train.csv')[['app_id', 'flag']]

In [12]:
%%time
df_train = df_train.merge(df, on = 'app_id').merge(df_train_flag, on='app_id')
df_train['event_time'] = df_train['transaction_number']
df_train.to_parquet('data/train_transactions_clipped.parquet')
df_train.shape

CPU times: user 28.3 s, sys: 6.35 s, total: 34.6 s
Wall time: 34.4 s

(234615, 22)

In [13]:
df_train.head()

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,...,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number,flag,event_time
0,69,"[0.5340863347146303, 0.3876771200456198, 0.449...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, ...","[175, 175, 5, 5, 5, 175, 5, 5, 5, 175, 5, 5, 5...","[4, 4, 4, 2, 2, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, ...","[2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, ...","[2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...",...,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 9, 1, 1, ...","[2, 2, 2, 1, 6, 2, 2, 6, 6, 4, 5, 3, 1, 2, 6, ...","[9, 9, 17, 19, 16, 8, 17, 15, 15, 8, 17, 18, 1...","[358, 358, 351, 345, 342, 323, 323, 300, 300, ...","[52, 52, 50, 39, 42, 46, 46, 33, 33, 33, 35, 3...","[-1, 0, 176, 146, 69, 447, 9, 551, 0, 40, 321,...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,89,"[0.4492871471021893, 0.3590500655756334, 0.546...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 4, 4, 3, 3, 1, 1, 1, 2, 3, 3, 2, 2, 3, ...","[59, 59, 143, 143, 143, 143, 143, 143, 143, 14...","[11, 5, 4, 4, 11, 11, 2, 2, 2, 8, 11, 11, 8, 8...","[2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, ...","[1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, ...","[2, 6, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, ...",...,"[30, 1, 1, 1, 30, 30, 1, 1, 155, 155, 30, 30, ...","[2, 2, 2, 2, 2, 2, 7, 7, 7, 2, 2, 2, 2, 2, 2, ...","[4, 1, 4, 4, 4, 4, 3, 4, 4, 4, 3, 3, 1, 1, 2, ...","[8, 9, 17, 18, 11, 12, 18, 18, 19, 19, 11, 11,...","[354, 352, 347, 347, 326, 326, 325, 319, 319, ...","[50, 50, 39, 39, 46, 46, 46, 20, 20, 20, 20, 2...","[-1, 48, 128, 1, 497, 1, 30, 144, 2, 0, 15, 1,...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,126,"[0.41041065630473633, 0.3488379638169017, 0.49...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 4, 1, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, ...","[5, 5, 175, 5, 5, 175, 5, 175, 5, 175, 5, 175,...","[11, 11, 4, 2, 11, 4, 11, 4, 11, 4, 11, 4, 11,...","[2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, ...","[2, 2, 3, 2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, ...","[2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",...,"[30, 30, 16, 16, 30, 2, 30, 16, 30, 16, 30, 16...","[2, 2, 2, 15, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...","[7, 7, 1, 4, 4, 6, 2, 5, 2, 1, 5, 7, 7, 4, 6, ...","[21, 21, 18, 15, 22, 12, 21, 10, 9, 14, 9, 16,...","[350, 350, 345, 340, 319, 314, 295, 285, 260, ...","[50, 50, 39, 42, 20, 36, 33, 35, 8, 19, 4, 4, ...","[-1, 0, 117, 116, 511, 109, 465, 230, 599, 149...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,148,"[0.4563083383427963, 0.3876771200456198, 0.584...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, ...","[52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 5...","[4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, ...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 3, 6, 6, 6, 6, 6, 6, 6, 6, 3, 6, 6, 3, 6, ...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, ...",...,"[34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 3...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2, 2, 4, 2, 5, 5, 5, 2, 2, 2, 4, 5, 4, 3, 2, ...","[13, 13, 12, 17, 14, 15, 18, 11, 14, 17, 12, 1...","[351, 351, 340, 337, 320, 320, 320, 316, 316, ...","[50, 50, 42, 42, 20, 20, 20, 20, 20, 36, 32, 1...","[-1, 0, 263, 76, 405, 1, 3, 89, 3, 171, 91, 65...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,154,"[0.4779440811646806, 0.3488379638169017, 0.348...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 2, 2, 2, 2, 2, 2, 2, 6, 2, 2, 2, 6, 2, 2, ...","[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...","[7, 7, 7, 7, 7, 7, 7, 7, 20, 7, 7, 7, 20, 7, 7...","[1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",...,"[163, 163, 163, 163, 163, 163, 163, 163, 37, 1...","[2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, ...","[3, 6, 6, 6, 6, 6, 6, 6, 5, 4, 4, 4, 3, 1, 3, ...","[15, 17, 13, 13, 15, 15, 15, 15, 0, 15, 15, 15...","[339, 321, 307, 307, 293, 293, 293, 293, 292, ...","[42, 20, 32, 32, 28, 28, 28, 28, 28, 18, 18, 1...","[-1, 434, 332, 0, 337, 0, 0, 0, 9, 375, 0, 0, ...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."

In [14]:
 df_valid_flag = pd.read_csv('data/val.csv')[['app_id', 'flag']]

In [15]:
df_valid = pd.read_csv('data/val_clipped.csv').rename(columns={'ids': 'app_id'})[['app_id']]
df_valid.head()

   app_id
0  879270
1  143049
2     450
3  950334
4  911758

In [16]:
df_valid.shape

(25959, 1)

In [17]:
%%time
df_valid = df_valid.merge(df, on = 'app_id').merge(df_valid_flag, on='app_id')
df_valid['event_time'] = df_valid['transaction_number']
df_valid.to_parquet('data/valid_transactions_clipped.parquet')
df_valid.shape

CPU times: user 4.08 s, sys: 1.39 s, total: 5.47 s
Wall time: 5.21 s

(25959, 22)